# Visual Studio
*.db

# Assets
*.bin
*.obj
*.ply
*.xyz

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.ipch

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Python
__pycache__/
.idea/

# Executables
*.exe
*.out
*.app

# Images
*.TIF
*.JPG
